# Database configuration
DATABASE_URL=postgresql://user:password@localhost:5432/wms-db

# JWT secrets
ACCESS_TOKEN_SECRET=my_access_token_secret_key
REFRESH_TOKEN_SECRET=my_refresh_token_secret_key
RESET_PASSWORD_TOKEN_SECRET=my_reset_password_token_secret_key

# Base URL
BASE_URL=http://localhost:3000

# SMTP configuration
SMTP_HOST="127.0.0.1"  
SMTP_PORT=25
SMTP_USER="user-smtp"  
SMTP_PASS="pass-smtp"  
SMTP_FROM="Web Admin <webadmin@neo-fusion.com>" 